name: Deploy Javadoc

permissions:
  contents: write
  
on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'publish-javadoc')
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Generate Javadoc with Maven
        run: mvn javadoc:javadoc
        shell: bash
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: target/site/apidocs
          force_orphan: true